body{
   /* background-attachment: fixed; */
   background-attachment: fixed;
   background-size: cover;
   opacity: 0;
}
*{
   margin: 0;
   padding: 0;
   color: white;
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   /* font-family: Arial, Helvetica, sans-serif; */
   font-family: 'Times New Roman', Times, serif;
}
header,main,footer{
   /* background-image: url(https://i.pinimg.com/originals/76/46/5b/76465be29d569c472727be6a411ad880.png); */
   margin-left: 10%;
   margin-right: 10%;
   opacity: 0.95;
}

svg{
   width: 30vw;
   font-size: 4.5vw;
}

.body-background{
   opacity: 1;
   /* background-image: url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1643143835_2-phonoteka-org-p-kalyan-fon-2.png); */
   background-image: url(https://celes.club/uploads/posts/2022-05/1652971429_1-celes-club-p-kalyan-fon-krasivie-1.jpg);
   /* background-image: url(https://img4.goodfon.ru/wallpaper/nbig/b/81/low-poly-background-abstract-gradient-abstraktsiia-geometrii.jpg); */
   /* background-image: url(https://images.prom.ua/2279874811_2279874811.jpg?PIMAGE_ID=2279874811); */
   transition: opacity 1s linear 2s ;
}
.body-background2{
   opacity: 1;
   background-image: url(https://i.ytimg.com/vi/MGor8vyI0qY/maxresdefault.jpg);
   transition: opacity 1s linear 2s ;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2%;
   height: 110px;
   position: relative;
   z-index: 1;
}
header>img{
   height: 5.5vw;
   width: 5.5vw;
   border-radius: 50px;
   margin-left: 1vw;
}
header>svg text{
   font-size: 4.5vw;
}  
.menu-div{
   width: 55vw;
   /* height: 1vh;   */
   margin-right: 1vw;
}
.menu-page, .menu-page ul{
   list-style-type: none;
   font-size: 2vw;
   text-align: center;
}
.menu-page li a{
   display: block;
   padding: 0.5vw ;
   text-decoration: none;
   float: right;
   width: 10vw;
}
.menu-page ul{
   display: none;
   top: 4.55vw;
   z-index: 2;
   margin-left: 1.5vw;
   position: absolute;
   background-color: rgba( 255, 255, 255, 0.2);
}
.menu-page li a:hover{
   background-color: rgb(150, 100, 0);
}
.menu-page li:hover ul{
   display: block;
}
.menu-page li ul{
   float: none;
}
.menu-page ul li a :hover{
   background-color: gray;
}
/* ................................................... */


section{
   border: 2px solid gray;
   margin: 2vw;
}


/* ----------------------------------------------------- */
.main__title{
   margin: 1vw;
   font-size: 5vw;
}
.menu-title{
   font-size: 3vw;
   margin: 2vw 4vw;
   transition: transform 1s;
}
.menu-title:hover{
   transition: transform 0.7s;
   transform: scale(1.1, 1.5);
}
main{
   padding: 4vw;
   position: relative;
   z-index: 0;
}
.menu{
   display: flex;
   justify-content: space-between;
   overflow-x: scroll;
   margin: 1vw;
}
.menu img{
   height: 10vw;
   width: 14vw;
   margin: 1.5vw;
   border-radius: 40%;
}
.menu-border{
   border: 2px solid orange;
   margin: 2vw;
}
/* ------------------------------------------------------- */

.about-us{
   margin: 1vw;
   border: 2px solid gray;
}
.about-us>div>p{
   text-align: justify;
   font-size: 1.5vw;
   margin: 1vw;
}
.about-us .about-text{
   margin-left: 5vw;
   margin-right: 5vw;
}


.atmosphere{
   margin: 1vw;
   display: flex;
   overflow-x: scroll;
   justify-content: space-between;
}
.atmosphere-border{
   border: 2px solid gray;
   margin: 1vw;
}
.atmosphere img{
   width: 50vw;
   height: 30vw;
   margin: 1vw;
}


.revie-border{
   border: 2px solid gray;
   margin: 1vw;
}
.revie{
   margin: 1vw;
   display: flex;
   justify-content: space-between;
}
.revie>div{
   width: 18vw;
   border: 1px solid greenyellow;
   border-radius: 10%;
   padding: 1vw;
}
.revie>div>img{
   width: 7vw;
   border-radius: 50%;
}
.revie>div>#name{
   position: absolute;
   font-size: 3vw;
   margin-top: -6vw;
   margin-left: 10vw;
}
#revie-text{
   text-align: justify;
   font-size: 1.2vw;
}

.hide{
	 height: 0;
    overflow: hidden;
    padding: 0;
    transition: 1s;
}
.accordion__items-text{
	 transition: 1s;
}

.menu-title:hover{
   cursor: pointer;
}

footer{
   margin-top: 1%;
   height: 150px;
}
footer>div>ul{
   display: flex;
   margin: 1vw;
   flex-wrap: wrap;
   justify-content: space-around;
   list-style-type: none;
}
footer>div>ul>li{
   margin: 0.9vw;
   font-size: 1.7vw;
}
#come-back{
   text-align: center;
}
#come-back a{
   position: fixed;
   text-decoration: none;
   color: white;
   width: 4vw;
   height: 4vw;
   font-size: 3.2vw;
   bottom: 1%;
   right: 1%;
   border-radius: 50%;
   border: 2px solid rgba( 255, 255, 255, 0.7);
   transform: rotate(0.75turn);
}
